.custom-fields-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-left: -10px;
}

.custom-fields-container > div {
    padding: 10px;
    box-sizing: border-box;
}

#order_review_heading {
    margin:1.5em 0 .5em !important;
}
form.checkout .woocommerce-checkout-review-order{
    width: 100% !important;
}